<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venues</title>
</head>
<body>
    
    <h1>New York City Guide</h1>
    <h2>{{ activity|title }}</h2>
    <!-- activity | title is used to display as titles, same with venues -->
    <h2>{{ venue|title }}</h2>
    <p>
        {{ description }}
        <!-- this inserts the description given in the boroughs dict -->
    </p> 

</body>
</html>


